
<div class="body">
  <div class="container">
    <nav class="navbar navbar-expand-lg nav-bar default">
      <!--navbar-dark bg-dark-->
      <!-- <a class="navbar-brand" href="#">Residence</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rooms">Rooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reservation">Reservation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a href="#login" data-toggle="modal">
            <button class="btn btn-danger" type="button">Login</button>
          </a>
        </form>
      </div>
    </nav>






    <div id="login" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form #loginform='ngForm'>
            <div class="modal-header">
              <h5 class="modal-title">Operator Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group" align="center">
                <label id="inputuser">Ennter User ID</label>
                <input type="text" class="form-control" id="inputuser" placeholder="Enter User ID">
              </div>
              <div class="form-group" align="center">
                <label id="inputpassword">Enter User Password </label>
                <input type="text" class="form-control" id="inputpassword" placeholder="Enter Password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </div>
            <div class="modal-footer modalbtn">
              <button type="submit" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>










    <router-outlet></router-outlet>

  </div>
  <footer class="page-footer font-small blue pt-4 mt-4">
    <div class="text-uppercase" align="center">Sweet Residence - Jakarta Barat</div>
    <div class="panel-body">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-md-4">
            "Sweet Residence" is an elegant 3-star hotel in the center of Jakarta, 250m away from the main Airport and central
          </div>
        </div>
      </div>
    
      <!--/.Footer Links-->

      <div class="footer-copyright py-2 text-center">
        © 2018 Copyright -
        <a href="https://github.com/laminry"> Lamin & Amelia </a>
      </div>
    </div>


  </footer>
</div>