<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">HOT ROOMS</h1>
        <p class="lead text-muted">Have a nice stay with us!.</p>
        <p>
            <a href="" class="btn btn-primary">reservation</a>
            <a href="#" class="btn btn-secondary">Secondary action</a>
        </p>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    </div>
</div>
</section>


<div class="container">
    
    <!--Card group-->
    <div class="card-deck">
        <div class="card mb-4">
            <div class="view overlay">
                <img class="img-fluid imgsize" src="../assets/rooms/deluxe.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Deluxe Room</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-danger btn-md">BOOK NOW</button>
            </div>
        </div>

        <div class="card mb-4">
            <div class="view overlay">
                <img class="img-fluid imgsize" src="../assets/rooms/superior.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Superior Room</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-danger btn-md">BOOK NOW</button>
            </div>
        </div>

        <div class="card mb-4">
            <div class="view overlay">
                <img class="img-fluid imgsize" src="../assets/rooms/executive.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Executive Room</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-danger btn-md">BOOK NOW</button>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card mb-4">
            <div class="view overlay">
                <img class="img-fluid imgsize" src="../assets/rooms/cabana.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Cabana</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-danger btn-md">BOOK NOW</button>
            </div>
        </div>



        <div class="card mb-4">
            <div class="view overlay">
                <img class="img-fluid imgsize" src="../assets/rooms/master.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Master Suite</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-danger btn-md">BOOK NOW</button>
            </div>
        </div>

        <div class="card mb-4">
            <div class="view overlay">
                <img class="img-fluid imgsize" src="../assets/rooms/premier.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Premier Room</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-danger btn-md">BOOK NOW</button>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card mb-4">
            <div class="view overlay">
                <img class="img-fluid imgsize" src="../assets/rooms/studio.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Studio Room</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-danger btn-md">BOOK NOW</button>
            </div>
        </div>

        <div class="card mb-4">
            <div class="view overlay">
                <img class="img-fluid imgsize" src="../assets/rooms/king.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">King Room</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-danger btn-md">BOOK NOW</button>
            </div>
        </div>

        <div class="card mb-4">
            <div class="view overlay">
                <img class="img-fluid imgsize" src="../assets/rooms/queen.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Queen Room</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-danger btn-md">BOOK NOW</button>
            </div>
        </div>
    </div>
</div>

